---
---

<!-- About Section -->
    <section id="format" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <h2>Format</h2>
              <br/>
              <h3>During the Session</h3>
              <p>Each session is a {{ site.format_length }}-minute long {{ site.format_format }} videoconference, tentatively scheduled for <em>{{ site.format_day }}s at {{ site.format_time }}</em>. Each panelist will speak for 10-15 minutes, followed by 15 minutes of discussion and audience questions, selected by the moderator. Certain sessions are in person at indicated conferences, in which case the availability of an online version depends on the conference facilities.</p>
              <h3>After the Session</h3>
              <p>Each session is recorded, and a link to the recording made available shortly afterwards on this page. Panelists are also asked to write a 5-7 page version of their statement (see <a href="/book/Webinar%20Write-up%20Template.docx" alt="link to template">template</a>), which will be collected as an online "book" on this site, and potentially as part of one or more special issues in journals. </p>
                <br/>
                
              </div>
              
        </div>
    </section>
